<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^(.*)/$" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
	<cors enabled="true">
      <add origin="*" />
    </cors>
        <modules>
            <add name="UriCacheModule" />
            <add name="FileCacheModule" />
            <add name="TokenCacheModule" />
            <add name="ManagedEngine64" preCondition="integratedMode,runtimeVersionv2.0,bitness64" />
            <add name="ManagedEngine" preCondition="integratedMode,runtimeVersionv2.0,bitness32" />
            <add name="ManagedEngineV4.0_64bit" preCondition="integratedMode,runtimeVersionv4.0,bitness64" />
            <add name="ManagedEngineV4.0_32bit" preCondition="integratedMode,runtimeVersionv4.0,bitness32" />
            <add name="TracingModule" />
            <add name="RequestMonitorModule" />
            <add name="PleskRepairModule" />
            <add name="PleskUrlProtectionModule" />
            <add name="CORS" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </modules>
        <handlers>
            <remove name="php-7.3.8" />
            <add name="php-7.3.8" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\v7.3.8\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
		<httpProtocol>
    <customHeaders>
       <add name="Access-Control-Allow-Headers" value="Origin, Authorization, X-Requested-With, Content-Type, Accept" />
       <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,PUT,DELETE" />
    </customHeaders>
</httpProtocol>
		
  </system.webServer>
</configuration>
