/* You can add global styles to this file, and also import other style files */

html{
    overflow-x: hidden;
    overflow-y: scroll;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

// .ck-editor__editable_inline {
//     height: 15rem !important;
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.control-position{
    width: 3rem;
}

.btn-icon{
    position: absolute;
    right: -0.8rem;
    bottom: -0.5rem;
    padding: 0.1rem !important;
    font-size: 0.8rem !important;
    margin-right: 0.5rem;
}

.btn-icon-control{
    padding: 0.1rem !important;
    font-size: 0.8rem !important;
    margin-right: 0.5rem;
}

$color: #043960;

.sm-subtitle{
    color: $color;
}



.toastcharacter.ngx-toastr{
    height: 5rem !important;
    background-size: 10rem !important;
    height: 22rem !important;
    width: 30rem !important;
    background-color: #51A351 !important;
    background-position: bottom center !important;
}
.toastcharacter.toastcharacter-mind.ngx-toastr{
    background-image: url('./assets/images/toastcharacter-mind.png');
}
.toastcharacter.toastcharacter-walk.ngx-toastr{
    background-image: url('./assets/images/toastcharacter-walk.png');
}
.toastcharacter.toastcharacter-glad.ngx-toastr{
    background-image: url('./assets/images/toastcharacter-glad.png');
}
.toastcharacter.toastcharacter-joy.ngx-toastr{
    background-image: url('./assets/images/toastcharacter-joy.png');
}
.toastcharacter.toastcharacter-smile.ngx-toastr{
    background-image: url('./assets/images/toastcharacter-smile.png');
}